{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="section experiences-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">

    {% for skill in skills.toolset %}
    <div class="item">

        <div class="meta">
    
          <div class="upper-row">
            <h3 class="job-title">{{ skills.role }}</h3>
            <div class="time">{{ skills.time }}</div>
          </div><!--//upper-row-->
    
          <div class="company">{{ skills.company }}</div>
    
        </div><!--//meta-->
    
        {% if skills.details %}
        <div class="details">
          {{ skills.details | markdownify }}
        </div><!--//details-->
        {% endif %}
    
      </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
